.final-input {
  position: relative;

  border-radius: 5px;
  border-width: 2px;

  padding: 1rem 1rem;

  font-size: 1rem;

  cursor: pointer;

  transition: all 0.1s ease-in;

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: var(--theme-color);
    }

    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
  }

  &:hover {
    border-color: var(--theme-color);
    filter: brightness(1.3);
  }

  &.checked {
    border-color: var(--theme-color);
  }
}
